name: game_board
description: A flutter package that implements a .
version: 0.0.1

environment:
  sdk: ^3.6.0
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
